<div class="main-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      <form name=master_batches_form novalidate>
        <!--<div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_batches_form.batch_course_id.$invalid &&!master_batches_form.batch_course_id.$pristine}">
          <label>Course</label>
          <select ng-options="course.id as course.course_name for course in courses" name="batch_course_id" class="form-control" ng-change="courseSelect(master_batches.batch_course_id)" ng-required="true" ng-model="master_batches.batch_course_id" disabled=""></select>
        </div>-->
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_batches_form.batch_code.$invalid &&!master_batches_form.batch_code.$pristine}">
          <label>Batch Code</label>
          <input type="text" class="form-control" name="batch_code" ng-model="master_batches.batch_code" ng-required="true" readonly="readonly">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_batches_form.batch_commence.$invalid &&!master_batches_form.batch_commence.$pristine}">
          <label>Batch Commence Date</label>
          <input type="text" class="form-control" name="batch_commence" ng-model="master_batches.batch_commence" data-date-format="yyyy-MM-dd" data-date-type="string" data-max-date="today" data-autoclose="1" bs-datepicker ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_batches_form.batch_end.$invalid &&!master_batches_form.batch_end.$pristine}">
          <label>Batch End Date</label>
          <input type="text" class="form-control" name="batch_end" ng-model="master_batches.batch_end" data-date-format="yyyy-MM-dd" data-date-type="string" data-max-date="today" data-autoclose="1" bs-datepicker ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_batches_form.batch_intake.$invalid &&!master_batches_form.batch_intake.$pristine}">
          <label>Batch Intake</label>
          <input type="text" class="form-control" name="batch_intake" ng-model="master_batches.batch_intake" ng-required="true">
        </div>
        <div class="form-group col-lg-12"><a href="javascript:void(0)" ng-disabled="master_batches_form.$invalid" class="btn create-btn" ng-click="editmaster_batches(master_batches)">Save</a></div>
      </form>
      </div>
    </div>
  </div>
</div>
