<div class="main-background">
  <div class="container">
    <div class="row">
      <form name=master_payments_form novalidate>
        <div class="col-xs-4">
          <div class="form-group col-lg-12 col-xs-12 box-body" >
            <label>Receipt No</label>
            <input type="text" class="form-control" name="reg_no" ng-model="master_payments.receipt_no" ng-required="true">
          </div>
        <div class="form-group col-lg-12"><a href="javascript:void(0)" ng-disabled="master_payments_form.$invalid" class="btn create-btn btn-primary" ng-click="deletemaster_payments(master_payments)">Delete</a></div>
    </div>
  </form>
  </div>
</div>
</div>
