<div class="main-background">
  <div class="container">
    <div class="row">
      <form name=master_registrations_form novalidate>
        <div class="col-xs-4">
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.reg_no.$invalid &&!master_registrations_form.reg_no.$pristine}">
          <label>Admission No</label>
          <input type="text" class="form-control" name="reg_no" ng-model="master_registrations.reg_no" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.course_id.$invalid &&!master_registrations_form.course_id.$pristine}">
          <label>Course</label>
          <input type="text" class="form-control" name="course_id" ng-model="master_registrations.course_id" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.reg_date.$invalid &&!master_registrations_form.reg_date.$pristine}">
          <label>Registrations Date</label>
          <input type="text" class="form-control" name="reg_date" ng-model="master_registrations.reg_date" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.student_id.$invalid &&!master_registrations_form.student_id.$pristine}">
          <label>NIC/POSTAL/PASSPORT</label>
          <input type="text" class="form-control" name="student_id" ng-model="master_registrations.student_id" ng-required="true">
        </div>
        </div>
          <div class="col-xs-4">
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.batch_id.$invalid &&!master_registrations_form.batch_id.$pristine}">
          <label>Batch</label>
          <input type="text" class="form-control" name="batch_id" ng-model="master_registrations.batch_id" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.fee_id.$invalid &&!master_registrations_form.fee_id.$pristine}">
          <label>Fee Structure</label>
          <input type="text" class="form-control" name="fee_id" ng-model="master_registrations.fee_id" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.fee.$invalid &&!master_registrations_form.fee.$pristine}">
          <label>Gross</label>
          <input type="text" class="form-control" name="fee" ng-model="master_registrations.fee" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.reg_fee.$invalid &&!master_registrations_form.reg_fee.$pristine}">
          <label>Registrations Fee</label>
          <input type="text" class="form-control" name="reg_fee" ng-model="master_registrations.reg_fee" ng-required="true">
        </div>
          </div>
          <div class="col-xs-4">
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.discount.$invalid &&!master_registrations_form.discount.$pristine}">
          <label>Discount</label>
          <input type="text" class="form-control" name="discount" ng-model="master_registrations.discount" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12" ng-class="{ 'has-error': master_registrations_form.discount_comment.$invalid &&!master_registrations_form.discount_comment.$pristine}">
          <label>Comment</label>
          <input type="text" class="form-control" name="discount_comment" ng-model="master_registrations.discount_comment" ng-required="true">
        </div>
  </div>
        <div class="form-group col-lg-12"><a href="javascript:void(0)" ng-disabled="master_registrations_form.$invalid" class="btn create-btn" ng-click="savemaster_registrations(master_registrations)">Create</a></div>
      </form>
    </div>
  </div>
</div>
</div>
