<div class="main-background">
  <div class="container">
    <div class="row">
      <form name=master_registrations_form novalidate ng-submit="savemaster_registrations(master_registrations)">
        <div class="col-xs-4">
          <div class="form-group col-lg-12 col-xs-12">
            <label>Course</label>
            <select ng-options="course.id as course.course_name for course in courses"  ng-change="getLastRegNo(master_registrations.course_id)" name="course_id" class="form-control" ng-required="true" ng-model="master_registrations.course_id"></select>
          </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Admission No</label>
          <input type="text" class="form-control" name="reg_no" ng-model="master_registrations.reg_no" ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Registrations Date</label>
          <input type="text" class="form-control" name="reg_date" ng-model="master_registrations.reg_date" data-date-format="yyyy-MM-dd" data-date-type="string" data-max-date="today" data-autoclose="1" bs-datepicker ng-required="true">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>NIC/POSTAL/PASSPORT</label>
          <input type="text" class="form-control" name="student_id" ng-model="master_registrations.student_id" ng-required="true" readonly="readonly">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Batch</label>
          <select ng-options="batch.id as batch.batch_code for batch in batches"  name="batch_id" class="form-control" ng-model="master_registrations.batch_id"></select>
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Fee Structure</label>
          <select ng-options="fee_structure.id as fee_structure.fee_structure_code for fee_structure in fee_structures"  ng-change="findByFeeStructureId(master_registrations.fee_id)" name="fee_id" class="form-control" ng-required="true" ng-model="master_registrations.fee_id"></select>
        </div>
        </div>
          <div class="col-xs-4">
        <div class="form-group col-lg-12 col-xs-12">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active" ng-click="fullOrInsCheck('1')">
            <input type="radio" name="full_or_ins" ng-model="master_registrations.full_or_ins" ng-value="1" autocomplete="off"> Full Payment
          </label>
          <label class="btn btn-primary" ng-click="fullOrInsCheck('0')">
            <input type="radio" name="full_or_ins" ng-model="master_registrations.full_or_ins" ng-value="0" autocomplete="off" checked> Installments
          </label>
        </div>
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Gross</label>
          <input type="text" class="form-control" name="fee" ng-model="master_registrations.fee" ng-required="true" readonly="readonly">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Registrations Fee</label>
          <input type="text" class="form-control" name="reg_fee" ng-model="master_registrations.reg_fee" readonly="readonly">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Discount</label>
          <input type="text" class="form-control" name="discount" ng-model="master_registrations.discount" max="{{master_registrations.fee}}" focus-me>
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Net Fee</label>
          <input type="text" class="form-control" name="net_fee" ng-model="master_registrations.net_fee"  ng-value="master_registrations.fee - master_registrations.discount" ng-required="true" readonly="readonly">
        </div>
        <div class="form-group col-lg-12 col-xs-12">
          <label>Comment</label>
          <select class="form-control" name="discount_comment" ng-model="master_registrations.discount_comment">
            <option value="Md Sir Approved">Md Sir Approved</option>
            <option value="Top Level Management">Top Level Management</option>
          </select>
        </div>
          </div>
          <div class="col-xs-4" ng-show="master_registrations.full_or_ins == 0">
       <div class="form-group col-lg-12 col-xs-12">
          <label>Installments</label>
                <table class="table table-striped table-bordered">
                  <tr><th>No</th><th>Amount</th><th>Due Date</th></tr>
                  <tr ng-repeat="fee_installment in master_registrations.fee_installments">
                    <td>{{fee_installment.ins_id}}</td>
                    <td>{{fee_installment.amount}}</td>
                    <td>{{fee_installment.due_date}}</td>
                  </tr>
                </table>
        </div>
  </div>
        <div class="form-group col-lg-12"><input type="submit" class="btn create-btn btn-primary" value="Save"></div>
      </form>
    </div>
  </div>
</div>
</div>
